/* Hero Section Styles */

.hero {

    position: relative;

    width: 100%;

    height: 55vh;

    overflow: hidden;

    background:
    #1a1a1a;

}


.hero-name {

    position: absolute;

    top: 35%;

    left: 50%;

    transform:
    translate(
        -50%,
        -50%
    );

    font-size: 12vw;

    font-weight: 900;

    color: white;

    z-index: 1;

        width: 85%;

    text-align: center;

    white-space: nowrap;

}


 .hero-portrait {

    position: absolute;

    left: 35%;

    bottom: 0;

    transform:
    translateX(-50%);

    height: 45vh;

    aspect-ratio: 3 / 4;

    width: auto;

    background:
    #ff0000;

    z-index: 2;

} 


/* MOBILE NORMAL BROWSER */

@media (max-width: 767px) {

    .hero {

        height: 22vh;

    }

    .hero-portrait {

        width: 140px;

        height: 19vh;

        left: 30%;

    }

    .hero-name {

        font-size: 15vw;

    }

}


/* MOBILE DESKTOP BROWSER */

@media (min-width: 768px)
and
(max-width: 1199px) {

    .hero {

        height: 35vh;

    }

    .hero-portrait {

        width: 140px;

        height: 18vh;

        left: 30%;

    }

}


/* DESKTOP LAPTOP BROWSER */

@media (min-width: 1200px) {

    .hero {

        height: 75vh;

    }

    .hero-portrait {

        width: 220px;

        height: 55vh;

        left: 30%;

    }

}










